@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";

$theme-colors: (
  "primary": #66311b,
  "secondary": #fff9f6,
  "danger": #9c0010,
  "info": #f4914c,
);

body {
  background-image: url("/src/images/background-pattern.png");
  color: #66311b;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h1 {
  color: #021226;
}

footer {
  background-color: #021226;
  padding: 5em;
  margin-top: auto;
}
footer p {
  text-align: center;
  color: #fff9f6;
}
.navbar-toggler {
  border: none;
  color: #021226;
}
